.col-md-12
	if typeof task !== "undefined"
		.oneTodo(data-id=task.id)
			.row
				.col-md-12
					h2.text-center.taskTitle=task.title()

			.btn-group.btn-group-justified.marginTop

				if task.completed()
				
					a.btn.btn-default.complete-task.btn-lg.btn-block(title="Complete Task", type="button") Completed
				else
					
					a.btn.btn-success.complete-task.btn-lg.btn-block(title="Incomplete Task", type="button") Complete

				
				a.btn.btn-primary.edit-task.btn-lg(title="Edit task", type="button") Edit
					
				
				a.btn.btn-danger.delete-task.btn-lg.btn-block(href="index.html", title="Delete task", type="button") Remove

			a.btn.btn-dead.btn-lg.btn-block(href="index.html", title="Go back", type="button") Go back


				

	